@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins";
}

.gradient-text {
  background-image: linear-gradient(45deg, #3738a9, #dd1cb7);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-border {
  border-width: 2px;
  border-image: linear-gradient(45deg, #3738a9, #dd1cb7);
  border-image-slice: 1;
  border-style: solid;
  background-color: transparent;
  border-radius: 10px;
}
